<mat-toolbar color="accent">
  <span
    >Angular version {{ angularVersion }} and Material version
    {{ materialVersion }} &nbsp;</span
  >
  <span class="demo-toolbar"></span>
  <mat-form-field class="table-type-selector">
    
    <mat-label>Select Table Type</mat-label>

    <mat-select>

      <ng-template ngFor let-link [ngForOf]="links">
        <mat-option>
          <a mat-button
            [routerLink]="link.path"
            [routerLinkActive]="['mat-button-toggle-checked', 'active-route']"
            #rla="routerLinkActive"
          >{{ link.label }}</a>
        </mat-option>
      </ng-template>

    </mat-select>

  </mat-form-field>

</mat-toolbar>

<router-outlet> </router-outlet>
